<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ресторан Timmi</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .hero-container {
            height: 100vh;
            background: <img src="static/img/restaurant-interior.jpg>" center/cover no-repeat;
        }

        .restaurant-name h1 {
            font-size: 150px;
            color: white;
        }
    </style>
</head>
<body>

    <div class="hero-container d-flex align-items-center justify-content-center">
        <div class="restaurant-name">
            <h1>TIMMI</h1>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>